In [1]:
from datetime import datetime
from dotenv import load_dotenv
import os
import json
import pandas as pd
import plotly.graph_objects as go
import requests
import time
from client import FtxClient
load_dotenv()

False

In [35]:
from PIL import Image
import streamlit as st
from urllib.request import urlopen
import client

# Obtener todos los datos del mercado
Puede obtener todos los datos del mercado como se muestra a continuaci√≥n. Solo obtener datos de mercado no requiere una cuenta en FTX

In [2]:
endpoint_url = 'https://ftx.com/api/markets'
# Get all market data as JSON
all_markets = requests.get(endpoint_url).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(all_markets['result'])
df.set_index('name', inplace = True)

In [3]:
df

,enabled,postOnly,priceIncrement,sizeIncrement,minProvideSize,last,bid,ask,price,type,...,highLeverageFeeExempt,largeOrderThreshold,change1h,change24h,changeBod,quoteVolume24h,volumeUsd24h,priceHigh24h,priceLow24h,tokenizedEquity
name,,,,,,,,,,,,,,,,,,,,,
1INCH-PERP,True,False,1.000000e-04,1.00000,1.00000,0.589000,0.588900,0.589000,0.589000,future,...,False,350.0,0.004948,-0.020781,0.003749,4.005603e+06,4.005603e+06,0.603100,0.574400,NaN
1INCH-0930,True,False,1.000000e-04,1.00000,1.00000,0.585500,0.584400,0.588100,0.585500,future,...,False,350.0,0.001197,-0.025790,0.001540,9.107022e+03,9.107022e+03,0.601300,0.572000,NaN
1INCH-1230,True,False,1.000000e-04,1.00000,1.00000,0.566900,0.566000,0.569500,0.566900,future,...,False,350.0,-0.002814,-0.027783,0.002298,1.258035e+04,1.258035e+04,0.585300,0.556400,NaN
1INCH/USD,True,False,1.000000e-04,1.00000,1.00000,0.589000,0.588800,0.589500,0.589000,spot,...,True,280.0,0.004777,-0.020619,0.003065,1.562425e+06,1.562425e+06,0.603000,0.574500,NaN
AAPL-0930,True,False,1.000000e-02,0.01000,0.01000,150.040000,149.270000,150.430000,150.040000,future,...,False,350.0,0.000000,-0.012895,0.000000,9.818029e+04,9.818029e+04,152.000000,145.130000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XTZBULL/USDT,True,False,1.000000e-08,10000.00000,10000.00000,0.000019,0.000018,0.000019,0.000019,spot,...,True,196.0,0.000000,0.004186,0.000000,1.827700e+01,1.827578e+01,0.000019,0.000017,NaN
XTZHALF/USD,True,False,2.500000e-01,0.00001,0.00001,6423.000000,6179.750000,6219.750000,6219.750000,spot,...,True,280.0,-0.001886,0.001489,-0.000723,0.000000e+00,0.000000e+00,6423.000000,6112.750000,NaN
XTZHEDGE/USD,True,False,5.000000e-03,0.00100,0.00100,65.030000,65.920000,66.760000,65.920000,spot,...,True,280.0,0.002281,-0.005131,0.001063,0.000000e+00,0.000000e+00,68.265000,65.030000,NaN
ZECBEAR/USD,True,False,1.000000e-06,100.00000,100.00000,0.003027,0.002965,0.003081,0.003027,spot,...,True,280.0,0.000000,0.053969,0.000000,3.886043e+02,3.886043e+02,0.003316,0.002866,NaN
ZECBULL/USD,True,False,5.000000e-08,1000.00000,1000.00000,0.000150,0.000151,0.000155,0.000151,spot,...,True,280.0,-0.010454,-0.072850,-0.010454,2.038110e+02,2.038110e+02,0.000165,0.000134,NaN

# Obtener datos del mercado √∫nico
Tambi√©n puede obtener datos del mercado √∫nico. El siguiente es un ejemplo para obtener datos de mercado de BTC/USD (spot).

In [7]:
base_currency = 'BTC'
quote_currency = 'USD'
# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'
df = pd.DataFrame(requests.get(request_url).json())
df['result']

ask                             19587.0
baseCurrency                        BTC
bid                             19586.0
change1h                       0.003381
change24h                      0.031112
changeBod                      0.007562
enabled                            True
futureType                         None
highLeverageFeeExempt              True
isEtfMarket                       False
largeOrderThreshold              2400.0
last                            19587.0
minProvideSize                   0.0001
name                            BTC/USD
postOnly                          False
price                           19587.0
priceHigh24h                    19767.0
priceIncrement                      1.0
priceLow24h                     18464.0
quoteCurrency                       USD
quoteVolume24h           908831885.1839
restricted                        False
sizeIncrement                    0.0001
type                               spot
underlying                         None
volumeUsd24h             908831885.1839
Name: result, dtype: object

# Obtener datos hist√≥ricos
Puede obtener datos hist√≥ricos utilizando la solicitud GET. El siguiente es un ejemplo para obtener datos de mercado diarios de BTC/USD desde 2021-01-01.

In [13]:
# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)
# Start date = 2021-01-01
start_date = datetime(2022, 9, 1).timestamp()
# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start_date}'
).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])
# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 
# Remove unnecessar columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df

       open     high      low    close        volume       date
0   20132.0  20434.0  19753.0  19951.0  4.367978e+08 2022-09-02
1   19951.0  20053.0  19649.0  19829.0  1.900102e+08 2022-09-03
2   19829.0  20024.0  19580.0  20006.0  3.298889e+08 2022-09-04
3   20006.0  20057.0  19634.0  19793.0  3.515562e+08 2022-09-05
4   19793.0  20180.0  18650.0  18789.0  9.347732e+08 2022-09-06
5   18789.0  19464.0  18523.0  19292.0  4.791565e+08 2022-09-07
6   19292.0  19456.0  19011.0  19318.0  4.416463e+08 2022-09-08
7   19318.0  21612.0  19293.0  21367.0  7.231013e+08 2022-09-09
8   21367.0  21815.0  21130.0  21654.0  3.948259e+08 2022-09-10
9   21654.0  21862.0  21360.0  21833.0  3.062161e+08 2022-09-11
10  21833.0  22512.0  21560.0  22403.0  6.754586e+08 2022-09-12
11  22403.0  22912.0  19858.0  20171.0  1.063527e+09 2022-09-13
12  20171.0  20531.0  19619.0  20228.0  5.408545e+08 2022-09-14
13  20220.0  20333.0  19438.0  19698.0  5.630971e+08 2022-09-15
14  19698.0  19887.0  19328.0  19805.0  3.725584e+08 2022-09-16
15  19805.0  20181.0  19750.0  20113.0  2.148816e+08 2022-09-17
16  20113.0  20115.0  19333.0  19418.0  2.990385e+08 2022-09-18
17  19418.0  19687.0  18250.0  19535.0  7.807102e+08 2022-09-19
18  19535.0  19636.0  18721.0  18876.0  5.962220e+08 2022-09-20
19  18876.0  19873.0  18142.0  18457.0  9.571832e+08 2022-09-21
20  18457.0  19537.0  18342.0  19401.0  6.391928e+08 2022-09-22
21  19401.0  19493.0  18531.0  19288.0  5.846532e+08 2022-09-23
22  19288.0  19310.0  18809.0  18922.0  2.964388e+08 2022-09-24
23  18922.0  19188.0  18632.0  18809.0  2.248359e+08 2022-09-25
24  18809.0  19318.0  18687.0  19228.0  7.497010e+08 2022-09-26
25  19228.0  20387.0  18820.0  19077.0  1.102962e+09 2022-09-27
26  19078.0  19769.0  18464.0  19414.0  9.184522e+08 2022-09-28
27  19415.0  19596.0  19371.0  19563.0  3.891709e+07 2022-09-29

In [ ]:
# Defining ticker variables
Bitcoin = 'BTC-USD'
Ethereum = 'ETH-USD'
Solana = 'SOL-USD'
Dogecoin = 'DOGE-USD'
Monero = 'XMR-USD'
BitcoinCash = 'BCH-USD'
Polkadot = 'DOT-USD'
Dai = 'DAI-USD' 
Polygon = 'MATIC-USD'

## Bitcoin = 'BTC-USD'

In [22]:
base_currency = 'BTC'
quote_currency = 'USD'
# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'
df = pd.DataFrame(requests.get(request_url).json())
df['result']

# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)
# Start date = 2021-01-01
start_date = datetime(2022, 9, 1).timestamp()
# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start_date}'
).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])
# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 
# Remove unnecessar columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df

       open     high      low    close        volume       date
0   20132.0  20434.0  19753.0  19951.0  4.367978e+08 2022-09-02
1   19951.0  20053.0  19649.0  19829.0  1.900102e+08 2022-09-03
2   19829.0  20024.0  19580.0  20006.0  3.298889e+08 2022-09-04
3   20006.0  20057.0  19634.0  19793.0  3.515562e+08 2022-09-05
4   19793.0  20180.0  18650.0  18789.0  9.347732e+08 2022-09-06
5   18789.0  19464.0  18523.0  19292.0  4.791565e+08 2022-09-07
6   19292.0  19456.0  19011.0  19318.0  4.416463e+08 2022-09-08
7   19318.0  21612.0  19293.0  21367.0  7.231013e+08 2022-09-09
8   21367.0  21815.0  21130.0  21654.0  3.948259e+08 2022-09-10
9   21654.0  21862.0  21360.0  21833.0  3.062161e+08 2022-09-11
10  21833.0  22512.0  21560.0  22403.0  6.754586e+08 2022-09-12
11  22403.0  22912.0  19858.0  20171.0  1.063527e+09 2022-09-13
12  20171.0  20531.0  19619.0  20228.0  5.408545e+08 2022-09-14
13  20220.0  20333.0  19438.0  19698.0  5.630971e+08 2022-09-15
14  19698.0  19887.0  19328.0  19805.0  3.725584e+08 2022-09-16
15  19805.0  20181.0  19750.0  20113.0  2.148816e+08 2022-09-17
16  20113.0  20115.0  19333.0  19418.0  2.990385e+08 2022-09-18
17  19418.0  19687.0  18250.0  19535.0  7.807102e+08 2022-09-19
18  19535.0  19636.0  18721.0  18876.0  5.962220e+08 2022-09-20
19  18876.0  19873.0  18142.0  18457.0  9.571832e+08 2022-09-21
20  18457.0  19537.0  18342.0  19401.0  6.391928e+08 2022-09-22
21  19401.0  19493.0  18531.0  19288.0  5.846532e+08 2022-09-23
22  19288.0  19310.0  18809.0  18922.0  2.964388e+08 2022-09-24
23  18922.0  19188.0  18632.0  18809.0  2.248359e+08 2022-09-25
24  18809.0  19318.0  18687.0  19228.0  7.497010e+08 2022-09-26
25  19228.0  20387.0  18820.0  19077.0  1.102962e+09 2022-09-27
26  19078.0  19769.0  18464.0  19414.0  9.184522e+08 2022-09-28
27  19415.0  19596.0  19280.0  19401.0  6.905339e+07 2022-09-29

## Ethereum = 'ETH-USD'

In [21]:
base_currency = 'ETH'
quote_currency = 'USD'
# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'
df = pd.DataFrame(requests.get(request_url).json())
df['result']

# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)
# Start date = 2021-01-01
start_date = datetime(2022, 9, 1).timestamp()
# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start_date}'
).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])
# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 
# Remove unnecessar columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df

      open    high     low   close        volume       date
0   1586.0  1649.0  1545.2  1574.8  6.191071e+08 2022-09-02
1   1574.8  1581.9  1532.6  1557.5  2.306640e+08 2022-09-03
2   1557.5  1582.4  1540.4  1578.8  2.019305e+08 2022-09-04
3   1578.8  1632.2  1557.2  1618.0  3.666926e+08 2022-09-05
4   1618.0  1686.7  1552.2  1558.9  8.348731e+08 2022-09-06
5   1558.9  1659.3  1490.1  1630.1  6.686061e+08 2022-09-07
6   1630.1  1664.0  1595.1  1636.0  6.031625e+08 2022-09-08
7   1636.0  1746.4  1630.8  1719.1  5.853736e+08 2022-09-09
8   1719.1  1790.0  1707.0  1774.7  2.897738e+08 2022-09-10
9   1774.7  1790.3  1718.3  1766.9  2.370949e+08 2022-09-11
10  1766.9  1784.0  1692.9  1716.7  7.809018e+08 2022-09-12
11  1716.6  1761.9  1561.0  1574.3  1.050256e+09 2022-09-13
12  1574.3  1647.7  1552.2  1639.0  8.070767e+08 2022-09-14
13  1639.0  1654.5  1452.2  1472.4  1.651169e+09 2022-09-15
14  1472.4  1483.1  1405.6  1433.8  6.303077e+08 2022-09-16
15  1433.8  1475.8  1409.0  1469.3  2.656425e+08 2022-09-17
16  1469.3  1469.8  1325.5  1334.6  5.386292e+08 2022-09-18
17  1334.8  1393.6  1279.8  1375.7  6.628369e+08 2022-09-19
18  1375.7  1385.1  1312.6  1322.9  5.665605e+08 2022-09-20
19  1322.9  1410.0  1219.2  1245.4  9.533285e+08 2022-09-21
20  1245.4  1349.3  1237.2  1326.3  6.978506e+08 2022-09-22
21  1326.3  1358.8  1261.4  1327.0  7.666522e+08 2022-09-23
22  1327.0  1349.6  1304.7  1317.0  2.910534e+08 2022-09-24
23  1317.0  1336.9  1269.4  1294.4  3.798832e+08 2022-09-25
24  1294.4  1340.5  1278.2  1336.6  7.221542e+08 2022-09-26
25  1336.6  1400.4  1303.8  1328.2  5.980146e+08 2022-09-27
26  1328.2  1355.4  1254.0  1337.3  7.899083e+08 2022-09-28
27  1337.3  1352.1  1327.8  1336.1  4.737037e+07 2022-09-29

## Solana = 'SOL-USD'

In [29]:
base_currency = 'SOL'
quote_currency = 'USD'
# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'
df = pd.DataFrame(requests.get(request_url).json())
df['result']

# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)
# Start date = 2021-01-01
start_date = datetime(2022, 9, 1).timestamp()
# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start_date}'
).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])
# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 
# Remove unnecessar columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df

       open     high      low    close        volume       date
0   31.6075  32.4025  30.7575  31.2325  5.785159e+07 2022-09-02
1   31.2325  31.2700  30.7925  31.1075  2.322671e+07 2022-09-03
2   31.1075  32.1875  31.0200  32.1625  2.542829e+07 2022-09-04
3   32.1575  32.5175  31.1525  32.1700  4.266535e+07 2022-09-05
4   32.1700  33.8775  30.4400  30.8825  9.130853e+07 2022-09-06
5   30.8825  32.9450  30.3175  32.7000  5.119696e+07 2022-09-07
6   32.7000  33.9775  32.0150  33.6150  6.582154e+07 2022-09-08
7   33.6150  35.9650  33.5925  34.6800  8.008339e+07 2022-09-09
8   34.6800  35.4075  34.2850  35.0425  3.781091e+07 2022-09-10
9   35.0425  36.0325  34.0650  34.9975  4.173761e+07 2022-09-11
10  34.9975  38.4050  34.4150  37.4525  1.319916e+08 2022-09-12
11  37.4525  39.0000  32.9175  32.9750  1.406246e+08 2022-09-13
12  32.9750  34.3525  32.6700  34.1150  5.724093e+07 2022-09-14
13  34.1150  34.9000  32.1375  33.0625  8.364341e+07 2022-09-15
14  33.0700  33.2500  31.5000  32.2450  5.273760e+07 2022-09-16
15  32.2450  33.8925  32.2250  33.6975  2.745449e+07 2022-09-17
16  33.6975  33.9950  30.8425  31.1075  4.326270e+07 2022-09-18
17  31.1150  33.1000  30.5000  32.6325  6.211256e+07 2022-09-19
18  32.6325  32.8775  31.3025  31.4275  5.177814e+07 2022-09-20
19  31.4275  33.4800  29.9975  30.6550  8.404351e+07 2022-09-21
20  30.6550  32.8700  30.5875  32.4200  5.130253e+07 2022-09-22
21  32.4200  33.9650  31.1925  33.6750  6.532264e+07 2022-09-23
22  33.6750  34.7925  33.1500  33.3800  4.941385e+07 2022-09-24
23  33.3800  34.0400  31.8750  32.3250  3.333202e+07 2022-09-25
24  32.3250  33.9450  31.8750  33.8775  4.783978e+07 2022-09-26
25  33.8775  35.4300  32.0625  32.6775  7.757827e+07 2022-09-27
26  32.6800  33.8000  31.6400  33.2275  7.016756e+07 2022-09-28
27  33.2275  33.9425  32.9675  33.4650  6.446584e+06 2022-09-29

## Dogecoin = 'DOGE-USD'

In [28]:
base_currency = 'DOGE'
quote_currency = 'USD'
# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'
df = pd.DataFrame(requests.get(request_url).json())
df['result']

# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)
# Start date = 2021-01-01
start_date = datetime(2022, 9, 1).timestamp()
# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start_date}'
).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])
# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 
# Remove unnecessar columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df

        open      high       low     close        volume       date
0   0.062370  0.062862  0.060694  0.061643  5.823924e+06 2022-09-02
1   0.061643  0.064052  0.061131  0.062717  5.051014e+06 2022-09-03
2   0.062717  0.063932  0.061865  0.063234  3.592997e+06 2022-09-04
3   0.063234  0.063772  0.060911  0.062745  4.629477e+06 2022-09-05
4   0.062745  0.065303  0.058020  0.058875  7.750090e+06 2022-09-06
5   0.058875  0.061533  0.057357  0.060967  6.291333e+06 2022-09-07
6   0.060970  0.061424  0.059643  0.060977  5.189672e+06 2022-09-08
7   0.060977  0.064911  0.060907  0.063877  7.605126e+06 2022-09-09
8   0.063877  0.065643  0.063159  0.064719  7.989107e+06 2022-09-10
9   0.064719  0.065318  0.062634  0.063728  5.330285e+06 2022-09-11
10  0.063728  0.065446  0.062631  0.063964  6.414837e+06 2022-09-12
11  0.063964  0.064198  0.059213  0.059645  9.514385e+06 2022-09-13
12  0.059645  0.061493  0.059105  0.061145  7.515749e+06 2022-09-14
13  0.061146  0.061210  0.058479  0.058609  1.101043e+07 2022-09-15
14  0.058609  0.060502  0.058096  0.060464  2.944250e+06 2022-09-16
15  0.060464  0.062424  0.060213  0.062204  2.839484e+06 2022-09-17
16  0.062204  0.062261  0.056301  0.057443  4.000600e+06 2022-09-18
17  0.057443  0.058844  0.055882  0.058546  5.109603e+06 2022-09-19
18  0.058546  0.060631  0.057578  0.058394  4.444306e+06 2022-09-20
19  0.058394  0.060908  0.056067  0.057157  5.157033e+06 2022-09-21
20  0.057157  0.060077  0.056844  0.059596  2.700309e+06 2022-09-22
21  0.059596  0.064294  0.059108  0.063355  8.971689e+06 2022-09-23
22  0.063355  0.068296  0.062470  0.063110  1.950478e+07 2022-09-24
23  0.063110  0.063923  0.060052  0.061157  6.609884e+06 2022-09-25
24  0.061157  0.061878  0.059752  0.061117  5.944049e+06 2022-09-26
25  0.061117  0.063065  0.059745  0.060492  6.263952e+06 2022-09-27
26  0.060492  0.061134  0.058499  0.060505  6.226704e+06 2022-09-28
27  0.060505  0.060939  0.060272  0.060471  4.317473e+05 2022-09-29

## Serum = 'SRM-USD'

In [32]:
base_currency = 'SRM'
quote_currency = 'USD'
# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'
df = pd.DataFrame(requests.get(request_url).json())
df['result']

# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)
# Start date = 2021-01-01
start_date = datetime(2022, 9, 1).timestamp()
# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start_date}'
).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])
# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 
# Remove unnecessar columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df

     open   high    low  close       volume       date
0   0.800  0.809  0.772  0.780   670294.459 2022-09-02
1   0.780  0.786  0.770  0.780   406039.552 2022-09-03
2   0.780  0.828  0.778  0.819   592378.309 2022-09-04
3   0.819  0.826  0.778  0.807   661988.208 2022-09-05
4   0.807  0.824  0.743  0.744  1002278.620 2022-09-06
5   0.744  0.801  0.726  0.791  1218908.700 2022-09-07
6   0.791  0.840  0.782  0.825  1236629.093 2022-09-08
7   0.825  0.880  0.825  0.861  1135617.831 2022-09-09
8   0.861  0.880  0.850  0.866   806597.562 2022-09-10
9   0.866  0.876  0.842  0.860   483239.741 2022-09-11
10  0.860  0.917  0.838  0.872  2035915.938 2022-09-12
11  0.872  0.886  0.792  0.806  2548070.660 2022-09-13
12  0.806  0.836  0.801  0.830   996598.379 2022-09-14
13  0.830  0.830  0.776  0.790   934538.583 2022-09-15
14  0.790  0.798  0.755  0.777   656608.166 2022-09-16
15  0.777  0.807  0.777  0.806   298686.934 2022-09-17
16  0.806  0.809  0.739  0.748   739507.571 2022-09-18
17  0.748  0.775  0.720  0.771  1940740.616 2022-09-19
18  0.771  0.807  0.757  0.774  2753552.098 2022-09-20
19  0.774  0.799  0.725  0.737  2032445.671 2022-09-21
20  0.737  0.787  0.733  0.781   862439.498 2022-09-22
21  0.781  0.799  0.746  0.783  1899366.984 2022-09-23
22  0.783  0.786  0.758  0.760  1375662.178 2022-09-24
23  0.760  0.773  0.734  0.745   941258.548 2022-09-25
24  0.745  0.769  0.732  0.766  1600354.374 2022-09-26
25  0.766  0.803  0.743  0.755  2140472.104 2022-09-27
26  0.755  0.771  0.729  0.761  1531786.241 2022-09-28
27  0.761  0.765  0.747  0.754   533726.104 2022-09-29

In [33]:
base_currency = 'MATIC'
quote_currency = 'USD'
# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'
df = pd.DataFrame(requests.get(request_url).json())
df['result']

# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)
# Start date = 2021-01-01
start_date = datetime(2022, 9, 1).timestamp()
# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start_date}'
).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])
# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 
# Remove unnecessar columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df

        open      high       low     close        volume       date
0   0.884185  0.912874  0.862787  0.871644  2.042922e+07 2022-09-02
1   0.871644  0.890223  0.866688  0.888909  8.953744e+06 2022-09-03
2   0.888909  0.898724  0.872076  0.895142  7.906558e+06 2022-09-04
3   0.895142  0.903113  0.861846  0.882204  9.557948e+06 2022-09-05
4   0.882204  0.923409  0.808612  0.815653  2.151372e+07 2022-09-06
5   0.815653  0.850744  0.791729  0.840434  1.921639e+07 2022-09-07
6   0.840434  0.849655  0.815628  0.845107  1.158470e+07 2022-09-08
7   0.845107  0.901466  0.842312  0.890706  1.428658e+07 2022-09-09
8   0.890706  0.912524  0.878257  0.905982  9.460952e+06 2022-09-10
9   0.905982  0.917968  0.876246  0.893493  5.210757e+06 2022-09-11
10  0.893493  0.940764  0.871745  0.930787  2.395769e+07 2022-09-12
11  0.930685  0.943830  0.838574  0.846122  2.912059e+07 2022-09-13
12  0.846122  0.868092  0.830204  0.865130  1.326207e+07 2022-09-14
13  0.865135  0.876625  0.816688  0.824905  1.654392e+07 2022-09-15
14  0.824905  0.831105  0.787037  0.806763  1.138424e+07 2022-09-16
15  0.806763  0.830984  0.805059  0.828094  5.693920e+06 2022-09-17
16  0.828533  0.836297  0.749358  0.753371  8.550096e+06 2022-09-18
17  0.753371  0.775207  0.724756  0.765720  8.616387e+06 2022-09-19
18  0.765720  0.769587  0.730136  0.733399  9.445097e+06 2022-09-20
19  0.733399  0.778290  0.690290  0.700515  1.781403e+07 2022-09-21
20  0.700515  0.762695  0.700210  0.751985  1.280536e+07 2022-09-22
21  0.751985  0.785012  0.722891  0.778530  1.643226e+07 2022-09-23
22  0.778530  0.782379  0.749917  0.752811  6.567988e+06 2022-09-24
23  0.752811  0.767308  0.731014  0.739733  5.666818e+06 2022-09-25
24  0.739697  0.761602  0.726293  0.755737  1.105485e+07 2022-09-26
25  0.755737  0.793293  0.726000  0.739167  1.293710e+07 2022-09-27
26  0.739167  0.754269  0.712244  0.747391  9.431226e+06 2022-09-28
27  0.747391  0.753456  0.741190  0.744273  1.046516e+06 2022-09-29

## BitcoinCash = 'BCH-USD'

In [34]:
base_currency = 'BCH'
quote_currency = 'USD'
# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'
df = pd.DataFrame(requests.get(request_url).json())
df['result']

# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)
# Start date = 2021-01-01
start_date = datetime(2022, 9, 1).timestamp()
# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start_date}'
).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])
# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 
# Remove unnecessar columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df

       open     high      low    close        volume       date
0   116.750  120.400  114.775  116.475  3.223389e+06 2022-09-02
1   116.475  119.250  115.875  117.825  1.849876e+06 2022-09-03
2   117.825  118.475  115.850  118.450  1.539320e+06 2022-09-04
3   118.450  126.500  117.100  125.775  5.774521e+06 2022-09-05
4   125.775  128.000  111.700  112.125  8.900254e+06 2022-09-06
5   112.125  119.575  110.125  118.775  7.146183e+06 2022-09-07
6   118.775  130.500  115.925  126.675  1.021311e+07 2022-09-08
7   126.675  138.850  126.050  132.875  8.758832e+06 2022-09-09
8   132.875  135.075  130.475  132.700  3.358318e+06 2022-09-10
9   132.700  133.350  127.375  130.275  3.026568e+06 2022-09-11
10  130.275  132.975  126.300  128.925  5.274413e+06 2022-09-12
11  128.925  133.925  115.950  117.600  7.253379e+06 2022-09-13
12  117.600  120.775  116.150  119.975  3.382025e+06 2022-09-14
13  119.975  123.075  116.050  117.550  4.898752e+06 2022-09-15
14  117.550  120.900  116.100  119.575  3.930709e+06 2022-09-16
15  119.575  123.475  119.375  122.175  1.434399e+06 2022-09-17
16  122.175  122.375  110.500  111.750  4.426745e+06 2022-09-18
17  111.750  113.350  106.625  112.025  5.446580e+06 2022-09-19
18  112.025  114.875  111.050  112.850  3.721164e+06 2022-09-20
19  112.850  119.175  108.375  108.725  3.637727e+06 2022-09-21
20  108.725  117.200  108.575  116.575  2.647823e+06 2022-09-22
21  116.575  120.525  112.425  120.150  3.219879e+06 2022-09-23
22  120.150  122.275  117.275  117.375  6.591774e+06 2022-09-24
23  117.375  118.550  112.200  113.425  3.149620e+06 2022-09-25
24  113.425  117.675  112.425  116.325  2.602149e+06 2022-09-26
25  116.325  120.600  112.400  114.275  3.573270e+06 2022-09-27
26  114.300  115.925  110.125  114.200  3.148923e+06 2022-09-28
27  114.200  115.350  113.825  114.350  2.673533e+05 2022-09-29

## Polkadot = 'DOT-USD'

In [43]:
base_currency = 'DOT'
quote_currency = 'USD'
# Specify the base and quote currencies to get single market data
request_url = f'{endpoint_url}/{base_currency}/{quote_currency}'
df = pd.DataFrame(requests.get(request_url).json())
df['result']

# 1 day = 60 * 60 * 24 seconds
daily=str(60*60*24)
# Start date = 2021-01-01
start_date = datetime(2022, 9, 1).timestamp()
# Get the historical market data as JSON
historical = requests.get(
    f'{request_url}/candles?resolution={daily}&start_time={start_date}'
).json()
# Convert JSON to Pandas DataFrame
df = pd.DataFrame(historical['result'])
# Convert time to date
df['date'] = pd.to_datetime(
    df['time']/1000, unit='s', origin='unix'
) 
# Remove unnecessar columns
df.drop(['startTime', 'time'], axis=1, inplace=True)
df

     open   high    low  close        volume       date
0   7.180  7.569  7.120  7.300  5.210951e+06 2022-09-02
1   7.300  7.308  7.171  7.288  2.786157e+06 2022-09-03
2   7.288  7.421  7.151  7.377  4.553071e+06 2022-09-04
3   7.377  7.637  7.256  7.365  5.900049e+06 2022-09-05
4   7.365  7.691  6.807  6.873  7.110494e+06 2022-09-06
5   6.873  7.296  6.752  7.197  6.318460e+06 2022-09-07
6   7.197  7.460  7.034  7.387  5.205551e+06 2022-09-08
7   7.387  7.939  7.360  7.759  7.865304e+06 2022-09-09
8   7.759  7.877  7.592  7.778  3.485494e+06 2022-09-10
9   7.778  7.898  7.548  7.701  3.814880e+06 2022-09-11
10  7.701  8.051  7.568  7.663  5.162412e+06 2022-09-12
11  7.663  7.950  7.030  7.064  8.736582e+06 2022-09-13
12  7.064  7.311  7.015  7.202  5.026038e+06 2022-09-14
13  7.202  7.236  6.873  6.930  6.482102e+06 2022-09-15
14  6.930  6.974  6.702  6.905  2.643138e+06 2022-09-16
15  6.905  7.158  6.905  7.060  2.631295e+06 2022-09-17
16  7.060  7.063  6.306  6.442  3.619521e+06 2022-09-18
17  6.442  6.556  6.104  6.385  1.237052e+07 2022-09-19
18  6.385  6.414  6.168  6.286  4.804724e+06 2022-09-20
19  6.286  6.576  5.969  6.120  8.065233e+06 2022-09-21
20  6.120  6.518  6.080  6.444  4.827201e+06 2022-09-22
21  6.444  6.634  6.190  6.433  4.471196e+06 2022-09-23
22  6.433  6.509  6.237  6.270  4.032728e+06 2022-09-24
23  6.270  6.372  6.087  6.203  3.080343e+06 2022-09-25
24  6.203  6.576  6.157  6.556  6.553173e+06 2022-09-26
25  6.556  6.811  6.243  6.366  6.636304e+06 2022-09-27
26  6.366  6.467  6.172  6.388  4.777125e+06 2022-09-28
27  6.388  6.453  6.366  6.427  1.993966e+05 2022-09-29



Dai = 'DAI-USD'